body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #f21ddd, #7b40f1);
} 

.form-box {
    background: white;
    width: 700px;
    height: 400px;
    display: flex;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(237, 234, 236, 0.2);
    overflow: hidden;
}

.sign-in-btn {
    margin-left: 70px;
}

.sign-in-text {
    text-align: center;
    position: relative;
    top: 10px;
}

.login-box, .welcome-box {
    flex: 1;
    padding: 40px;
    align-items: center;
}

.login-box {
    background: #fff;
}
.welcome-box {
    background: linear-gradient(135deg, #f21ddd, #a2b5c2);
    color: white;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    justify-content: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #b72a9f;
    border-radius: 8px;
    font-size: 14px;
}

button {
    width: 120px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 15px;
    background: linear-gradient(90deg, #f21ddd, #4dbee7);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    padding-right: 50px;
    border: 1px solid #888;
    width: 300px; 
    border-radius: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
